* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("img/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.keys {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.key {
  display: flex;
  flex-direction: column;
  margin: 15rem 1.5rem;
  padding: 5px 17px;
  border: 0.2rem solid black;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 3px 3px 8px red;
  text-shadow: 1px 2px black;
}
.playing {
  transform: scale(1.1);
  border: 0.2rem solid yellow;
  box-shadow: 3px 3px 8px lightyellow;
}
kbd {
  font-size: 2rem;
  font-weight: bold;
}
span {
  color: yellow;
  text-transform: uppercase;
  font-family: monospace;
}

@media only screen and (max-width: 1070px) {
  .key {
    display: flex;
    flex-direction: column;
    margin: 17rem 1.5rem;
    padding: 7px 8px;
    border: 0.2rem solid black;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 3px 3px 8px red;
    text-shadow: 1px 2px blue;
  }
  kbd {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .playing {
    transform: scale(1.1);
    border: 0.2rem solid yellow;
    box-shadow: 3px 3px 8px lightyellow;
  }
}
@media only screen and (max-width: 925px) {
  .key {
    display: flex;
    flex-direction: column;
    margin: 20rem 0.3rem;
<<<<<<< HEAD
    padding: 5px 1px;
=======
    padding: 9px 1px;
>>>>>>> 1c4ed1717fd4d8b7e97a36bd61145f70d6ec9af3
    border: 0.2rem solid black;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 3px 3px 8px red;
    text-shadow: 1px 2px blue;
  }
  .playing {
    transform: scale(1.1);
    border: 0.2rem solid yellow;
    box-shadow: 3px 3px 8px lightyellow;
  }
  kbd {
    font-size: 0.9rem;
    font-weight: bold;
  }
  span {
    font-size: 0.5rem;
  }
}
